*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}




.row{
  width: 1140px;
  margin: 0 auto 0 auto;
 
}

section{
  padding: 80px 0px;
}
.box{
  padding: 1%;
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),  url(img/food.jpg);
 
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  }

  .hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 58%;
    transform: translate(-50%,-50%);
  }



.tag{
    margin: 0;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    
  }

  h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    text-align: center;
  }

h2:after{
display: block;
height: 2px;
background-color: #e67e22;
content: " ";
width: 100px;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 20px;
}

h3{
  font-weight: 300;
    text-transform: uppercase;
   font-size: 110%;
  margin-bottom: 15px;
}

/*  Links */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  transition: border-bottom  0,2s;

}
a:hover,
a:active{
color: #555;
border-bottom: 1px solid transparent;
}



/*  paragrgaph   */

.long-copy{
line-height: 145%;
width: 70%;
margin-left: 15%;
}
.box p{
  font-size: 90%;
  line-height: 140%;
}

/*  icons   */
.icon-big{
  font-size: 250%;
  display: block;
  
  background-color: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  margin-bottom:10px;
  
}
.icon-small{
  display: inline-block;
  width: 30px;
  text-align: center;
  color: rgb(21, 194, 224);
  margin-right: 10px;
  /*  Secrete for align text and icon */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
  



}


 


  .btn:link,.btn:visited,input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.6s,border 0.6s,color 0.4s;
   
  }

  

.btn-full:link,.btn-full:visited,input[type=submit]{
  background-color: #e67e22;
  border: 1px solid #e67e22 ;
  color: #fff; 
  margin-right: 20px;

  
}

.btn-ghost:link,.btn-ghost:visited{
  border: 1px solid #e67e22 ;
  color:#e67e22 ;
}

.btn:hover,.btn:active,input[type=submit]:hover{

    background-color: #cf6d17;
    
}

.btn-full:hover,.btn-full:active,input[type=submit]{
  
  border: 1px solid #cf6d17 ;
  
}

.btn-ghost:hover,.btn-ghost:active{
  border: 1px solid #e67e22 ;
 color: #fff;
}
.logo{
  height: 80px;
  width: auto;
  float: left;
  margin-top: 10px;
}
.main-nav{
  float: right;
  list-style: none;
  margin-top: 25px;
 
}
.main-nav li{
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
  
}
.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  border-bottom: 2px solid transparent ;
  transition: border-bottm 0.9s;
}
.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #e67e22 ;
}

.section-features .long-copy{
  margin-bottom: 50px;;
}



/*   Showcase */

.section-meals{
  padding: 0; 
}

.showcase{
  list-style:none ;
  width: 100%;
}
.showcase li{
  display: block;
  float: left;
  width: 25%;

}
.photo{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.photo img{
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.8s,opacity 0.8s;
}

.photo img:hover{
  opacity: 1;
  transform: scale(1.03);
}


/*   How it works*/
.section-steps{
  background-color:rgb(233, 233, 233);

}

.step-box:first-child{
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;

}
.step-box:last-child{
  padding-left: 3%;
  margin-top: 70px;


}
.app-screen{
  width: 40%;

}


.works-step{
  margin-bottom: 50px;
}

.works-step:last-of-type{
  margin-bottom: 80px;
}


.works-step div{
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 120%;
  margin-right: 25px;
}
.btn-app img{
  height: 50px;
  width: auto;
  margin-right: 10px;

}

.mini{
  margin-top: 500px;
}



/*City section  */

.box img{
  width: 250px;
  height: auto;
  margin-bottom: 15px;
}

.city-features{
  margin-bottom: 5px;

}













/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}




/* section test */
.section-test{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/img/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote{
  padding: 2%;
  font-style: italic;
  height: 145%;
  position: relative;
}
cite{
  font-size: 90%;
  margin-top: 25px;
  display: block;
  
}
blockquote:before{
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
}
cite img{
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}



/*  Section plan*/
.section-plans{
background-color: #f4f4f4;
}
.plan-box{
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  margin-left: 25%;
  box-shadow: 0 2px 2px rgb(201, 41, 41);
}

.plan-box div{
  padding: 15px;
  border-bottom: 1px solid rgb(185, 182, 180);
}
.plan-box div:last-child{
  text-align: center;
}
.plan-box div:first-child{
  background-color: rgb(224, 219, 219);
  border-top-right-radius:5px ;
  border-top-left-radius: 5px;
}

.plan-price{
  font-size: 200%;
  margin-bottom: 10px;
  font-weight: 300;
  color: #e67e22;
}
.plan-price-meal{
  font-size: 80%;
  
}
.plan-box ul{
  list-style: none;

}
.plan-box ul li{
  padding: 5px 0;
}


/* contact form  */
.contact-form{
  width: 100%;
  margin: 0 auto;
}
input[type=text],input[type=email],select,textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid rgb(192, 196, 192);
}
textarea{
  height: 100px;
}
input[type=checkbox]{
  margin: 10px 5px 10px 0;

}

*:focus{
  outline: none;
}



/*  Footer*/
footer{
  background-color: black;
}
.nav{
  list-style: none;
 text-align: centers;
  float: left;
}
.foot{
  list-style: none;
 
margin-left: 1100px;

 
}
.nav li{
  
  display: inline-block;
 padding-right: 30px;
  margin-right: 20px;

}
.foot li{
  display: inline-block;
  margin-right: 20px;
}
.foop{
 margin-left: 500px;
  position: absolute;
  margin-top: 20px;
}



/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%; 
	}
	.span-1-of-2 {
		width: 100%; 
	}
}


/*  GRID OF THREE   ============================================================================= */

	
.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width: 66.13%;
}


/*  GRID OF FOUR   ============================================================================= */

	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}